@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonStyle {
    border-radius: 30px;
    background-color: #2e6e9e;
}


@media (min-width: 1024px) {
.buttonStyle {
    font-size: large;
}

.Ifont {
    font-size: 85px;
    line-height: 1;
}

.textP {
    font-size: 38px;
}



}

    /* .b-radius {
        border-radius: 30px;
        padding: 10px 25px;
        font-size: 40px !important;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.3s ease;
        text-align: center;
    } */

/* @media (min-width: 1024px) {
    font{
       color: black !important;
    }
} */