.cardStyle {
    height: 40vh;
    width: max-content;
    
}

.bgColor {
    background: 
    radial-gradient(circle at 90% 30%, #0327a1 -5%, transparent 57%), 
    linear-gradient(to right, #05071e, #05071e); 
}