@media (min-width: 1024px) {

    .font{
        font-size: 60px;
    }

    .fontT{
        font-size: large;
    }
    .fontM {
        font-size: 30px;
    }

    .marginS {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    


}